@model IEnumerable<Emina.Models.Enquete>

@{
    ViewBag.Title = "Index";
}

<table>
    <caption>
        Enquetes you can take:
    </caption>
    <tr>
        <th>
            Title:
        </th>
        <th>
            Description:
        </th>
        <th>
            Questions
        </th>
        <th>
            Go
        </th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => e.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => e.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => e.Questions.Count)
            </td>
            <td>
                @if(e.Questions.Count > 0){
                    @Html.ActionLink("Start", "Question", new { EnqueteId = e.EnqueteID, QuestionNumber = e.Questions.OrderBy(q => q.QuestionNumber).First().QuestionNumber})
                } else {
                    <text>
                        No questions
                    </text>   
                }
            </td>
        </tr>
    }
</table>
